<link href="https://fonts.googleapis.com/css?family=Poppins:300,600" rel="stylesheet">
<style>
.main-container {}
.section {
  background-color:white;
  padding: 30px;
    margin-top: 20px;
    border-style: solid;
    border-color: #e0e7ed;
    box-shadow: 2px 2px 5px #e0e7ed;
    border-width: 1px;
}
#h1-line {
  font-family: 'Poppins', sans-serif;
  font-size: 24pt;
    padding-bottom: 10px;
    display: inline-block;
}
#h2-line {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
    margin-bottom: 14px;
    display: inline-block;
}
.d-line {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  font-weight: bold;
    margin-bottom: 3px;
    display: inline-block;
}
#flight-description {
  width:100%;
}
#stay-well {
  width:100%;
}
.selector-container {
  text-align: center;
}
.condition {
  display: inline-block;
  width: 250px;
  height: 40px;
  border-style: solid;
  border-color: blue;
  border-radius: 20px;
  border-width: 2px;
  text-align: left;
  margin: 8px;
  cursor: pointer;
}
.condition:hover {
  background-color: #dddddd;
}
.condition span{
  color: #444;
  display: inline-block;
  padding-top: 9px;
  padding-left: 18px;
}
.select-me-text {
  margin: 10px;
  font-size: 19px;
  color: #666666;
  display: inline-block;
}
</style>

<div class="main-container">
  <div class="section immugo-container">
    <h1 style="margin-top: 0">Find vaccination options</h1>
    <p>Get the vaccines you need from a local travel clinic near you.</p>
    <input type="text" class="immugo-input immugo-search" placeholder="City, ZIPCODE..." />
    <ul class="provider-list">

    </ul>
  </div>
</div>
